<div *ngIf='Blog' class="col-md-12 col-sm-12 col-lg-12">
  <div *ngIf='Blog.edit && _User.currentUser.fullname' class="form-group text-right firstDiv">
    <a [routerLink]="[ '/home/edit', Blog.blogID ]" class="btn btn-warning">Edit <i class="material-icons md-24"> edit </i>
    </a>
  </div>
  <h1 class="detail-title">{{Blog.title | firstUpper}}</h1>
  <p class="detail-sub-title">{{Blog.authorName}} <span>-</span> {{Blog.crDate | date}}</p>
  <img class="detail-img" [src]='Blog.picture' />
  <div class="col-md-8 col-sm-8 col-lg-8 offset-md-2 offset-sm-2 offset-lg-2 detail-content">
    <markdown ngPreserveWhitespaces>
      {{Blog.content }}
    </markdown>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8 offset-md-2 offset-sm-2 offset-lg-2 detail-near">
    <p class="detail-near-title">Comment</p>
    <p class="aler alert-warning" *ngIf='!_User.currentUser.fullname; else TextComment'>Please login for comment</p>
    <ng-template #TextComment>
      <textarea class="form-control" rows="3"></textarea>
      <button class="btn btn-outline-secondary">Send</button>
    </ng-template>
  </div>
  <div class="col-md-8 col-sm-8 col-lg-8 offset-md-2 offset-sm-2 offset-lg-2 detail-commented">
    <p *ngFor='let item of Blog.listComment'><strong>{{item.authorComment}}: </strong>{{item.content}}</p>
  </div>
</div>