<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><strong>Admin</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/admin/blog'>Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/admin/comment'>Comment</a>
                    </li>
                </ul>
            </div>
            <div class="form-inline">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <strong>Lương Sơn Bạc</strong>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
        <h1>rightbar</h1>
    </div>
</div>