<div class="col-md-12 central">
  <h2 class="title-central">List Blog</h2>
  <p class="text-right">
    <a href="#" class="text-decoration-none btn btn-outline-secondary">
      Post Blog
      <i class="material-icons md-18">
        create
      </i>
    </a>
  </p>
  <div class="row rowCard">
    <div *ngFor="let item of ListBlog" class="card mycard">
      <img class="card-img-top mycard-img" [src]="item.picture" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.sapo}}</p>
        <br *ngIf='item.sapo.length < 50'/>
        <a [routerLink]="[ 'blog', item.blogID ]" class="btn btn-outline-secondary">Go more</a>
      </div>
    </div>
  </div>
</div>