.leftbar {
  background: #e6e6e6;
  height: 100vh;
  position: fixed;
  z-index: 10;
}
.leftmain{
  padding: 50px;
}

.max-width{
  width: 100vw;
}
.title-main-sub{
  font-family: initial;
  letter-spacing: 6px;
}

.ul-main {
  padding: 0;
  font-family: cursive;
  font-weight: bold;
}
.ul-main > li {
  padding: 20px 0;
}
.div-main{
  transform: translateY(30%);
}
.footer{
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
}



.footer-right {
  word-break: break-word;
  background: #1c2433;
  color: white;
}
.footer-right > div {
  margin: 0 auto;
}

.footer-right-ul >li:nth-child(1) {
  margin: 20px 0px;
  font-family: initial;
  font-weight: bold;
  font-size: 28px;
  color: white;
}

.footer-right-ul > li {
  margin: 7px 0;
  color: #9292a5;
}

.footer-last {
  background: #151421;
  color: #9e9797;
  text-align: right;
}

.footer-last > div > p {
  margin: 15px 0;
} 

.parent-li-dialog {
  position: relative;
  cursor: pointer;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.ul-dialog {
  background: white;
  padding: 0;
  position: absolute;
  right: 0;
  box-shadow: 1px 1px 4px 2px #423a3a;
  padding: 5px;
  width: 100px;
  visibility: hidden;
  border-radius: 20px;
}

.btnOut {
  border: none;
  width: 100%;
  background: white;
  border-radius: 20px;
}

.btnOut:hover {
  transition: 0.5s;
  background: #5caafb;
  color: white;
  font-weight: bold;
}

.overflowHidden{
  overflow: hidden;
}

.container-footer{
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .leftbar {
    position: inherit;
    z-index: inherit;
  }
}