

.main {
    position: relative;
    height: 100vh;
}

.main-game {
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 500px;
    width: 500px;
    bottom: 0;
    background: gray;
    margin: auto;
}